<section flex data-ng-controller="LeftController" class="sidenav-custom">
		<md-sidenav class="md-sidenav-left md-whiteframe-z2 sidenav-custom" md-component-id="left"  flex>
			<md-toolbar class="md-tall md-primary-800 avo-bg">
				<div layout="column" layout-padding>
					<div flex layout="row">
						<img data-ng-src="modules/core/img/brand/afrupro.png" class="logo-sidenav" >
						<div layout="row" layout-align="end center" flex layout-padding>
							<h3 class="logo-sidenav-text" flex><!-- Afrupro --></h3>
						</div>
					</div>
					<div layout="row" flex>
						
					</div>

				</div>
			</md-toolbar>
			<md-content layout="column" layout-fill>
				

					<v-accordion vAccordion--default>
						<v-pane data-ng-repeat="item in sidenav.items | orderBy: 'position'" flex layout-fill data-ng-if="item.shouldRender(authentication.user);" >
							<v-pane-header layout-fill flex >
						      <md-button data-ui-sref="{{item.state}}" class="md-primary sidenav-btn" ng-style="{'color':'black'}" layout="row" layout-align="start center" flex>
									<div class="sidenav-primary-icon" flex="15">
										<div class="rounded-icon-holder" layout="column" layout-align="center center">
											<img data-ng-src="{{'modules/core/img/icons/' + item.icon + '.png'}}" class="sidenav-icon" class="sidenav-icon">
										</div>
									</div>
									<div class="sidenav-primary-text" flex layout="column" layout-align="center start">
										<div flex ng-style="{'font-size':'13px'}">{{item.title}}</div>
									</div>
									<div class="sidenav-secondary" flex="15" data-ng-if="item.items[0]">
										<h2 class="fa fa-angle-down secondary-icon"></h2>
									</div>
									
								</md-button>
						    </v-pane-header>
						    					
						      <v-pane-content class="sub-item">
							  	      <div layout="column"  layout-align="center start" >
							  	      	<div data-ng-repeat="subitem in item.items" flex layout-fill>
							  	      		<md-button  layout="row" layout-fill layout-align="start center" layout-padding class="sub-menu" >
												<span class="inset" ng-style="{'color': 'black', 'font-weight': 'normal'}">{{subitem.title}}</span>
											</md-button>
							  	      	</div>
											
										</div> 
							  </v-pane-content>
						        
						      </v-accordion>
						    </v-pane-content>

						</v-pane>
					</v-accordion>

					
						
					
					
					
					
					
				</div>
			</md-content>

			<md-content flex>
				<ul class="">
					
				</ul>
			</md-content>

		</md-sidenav>
	</section>
